{%extends 'myapp/header.html'%}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td
		{
			padding: 10px;
		}
	</style>
	</head>
<body>

{% if error %}
	<center><b>{{error}}</b></center>
{% endif %}

<form name="password_form" method="post" action="{% url 'password_form'%}"> 
	{% csrf_token %}
	
	<table align="center" cellpadding="10px" cellspacing="10px">
		
		<tr>
			<td> New Password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td> New confirm password</td>
			<td><input type="password" name="cpassword"></td>
		</tr>


		<td colspan="2" align="center">
			<input type="submit" name="submit" value="submit"></td>

	</table>
	
</form>

	
</body>
</html>
{% endblock %}
