{%extends 'myapp/header.html'%}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		td
		{
			padding: 10px;
		}
	</style>
	</head>
<body>


{% if error %}
	<center><b>{{error}}</b></center>
{% endif %}


<form name="verify" method="post" action="{% url 'verify_pass_otp'%}"> 
	{% csrf_token %}
	
	<table align="center" cellpadding="10px" cellspacing="10px">
		<tr>
			
			<td><input type="hidden" name="otp" value="{{otp}}"></td>
			<td><input type="hidden" name="email" value="{{email}}" ></td>
		</tr>
		
		<tr>
			<td>ENTER OTP:</td>
			<td><input type="text" name="u_otp" ></td>
		</tr>
		<tr>


		<td colspan="2" align="center">
			<input type="submit" name="submit" value="verify"></td>
		</tr>

	</table>
	
</form>

	
</body>


</html>
{% endblock %}
